html {
  background: url(pic.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container {
  margin-left: auto;
  margin-right: auto;
      margin-top: 180px;
  max-width: 700px;
  opacity: 0.9;
}

#header {
  font-family:'Calligraffitti', cursive;
  font-size: 45pt;
  color: black;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 20px;
  padding-bottom: 15px
}

#bio {
  font-family: 'Nixie One', cursive;
  font-size: 14pt;
  background-color: #BBBDBF;
  color: #1A3B69;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 33px;
  padding-bottom: 32px;
  float: right;
  width: 506px;
  padding-right: 9pt;
  padding-left: 9pt;
}
#links {
  font-family: 'Nixie One', cursive;
  font-size: 14pt;
  background-color:#8E8C91;
  border-top-left-radius: 20px;
  text-align: center;
  border-bottom-left-radius: 20px;
  padding-top: 127px;
  padding-bottom: 127px;
  float: left;
  width: 170px;
}

#worldview {
  font-size: 11.7pt;
  padding-top: 9pt;
  padding-bottom: 9pt;
}

#interests1 {
  text-align: left;
  padding-bottom: 65px;
  padding-top: 66px;
}

#interests2 {
  text-align: left;
  float: right;
  padding-bottom: 65px;
  padding-top: 66px;
}

#gbmargin {
  padding-top: 47px;
  padding-bottom: 47px;
}
